{% extends "YusukeHimatanBundle:Admin:base.html.twig" %}

{% block page_title 'ホーム' %}
    {% block content %}
        <ul>
        <li><a href="{{ path('admin_delete_user') }}">ユーザーを削除する</a></li>
        </ul>
    {% endblock %}